html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffe3fd;
    /*background-image: url(../img/images4.jpg);*/
}

.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}


/*.footer{*/
    /*!*position: relative;*!*/
    /*!*margin-top: -180px; !* negative value of footer height *!*!*/
    /*!*height: 180px;*!*/
    /*!*clear: both;*!*/
    /*!*text-align: center;*!*/
    /*!*background-color: #c3f3fd;*!*/
    /*position: fixed; !* Фиксированное положение *!*/
    /*left: 0; bottom: 0; !* Левый нижний угол *!*/
    /*!*padding: 3%; !* Поля вокруг текста *!*!*/
    /*background: #c3f3fd;; !* Цвет фона *!*/
    /*!*text-align: center;*!*/
    /*color: #fff; !* Цвет текста *!*/
    /*width: 100%; !* Ширина слоя *!*/
/*}*/
footer {
	background: #9cc7f4;
	color: #000000;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
}

#footer {
	margin: auto;
	padding: 10px 0;
	height: 90px;
}

.section-top{
    margin-bottom: 20px
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
    font-family:'Verdana', Geneva, sans-serif;
    font-weight:bold;
    font-size: 36px;
    /*font-style:italic;*/
}


.product-item{
    height: 360px;
    background-color: #ffe3fd;
    border: 1px solid #dbdbdb;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: #7a51c7;
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top {
    min-height: 10px;
    height: 20px;
    background-color: #5cbcf6;
    border: none;
    border-radius: 0;
}

.navbar-fixed-top{
    background-color: #9cc7f4;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #72dfe0;
    z-index: 10;
    padding: 10px;
}

.form-error{
    color: red;
}

.btn-add-to-basket {
    background-color: #3c79c7;
}
footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: #000000;
	border-bottom: 1px solid #0013db;
	margin: 0 0 10px 0;
}

#twitter time a {
	color: #b4aeae;
}

footer p {
	margin: 5px 0;
}

#twitter {
	float: left;
	width: 300px;
}

#twitter p {
	padding-right: 15px;
}
footer a {
	color: #000000;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 5px;
}

#sitemap a:hover {
	text-decoration: underline;
}
#social {
	float: left;
	margin-left: 20px;
	width: 130px;
}

.social-icon {
	width: 30px;
	height: 30px;
	background: url(../img/social.png) no-repeat;
	display: inline-block;
	margin-right: 10px;
}

.social-icon-small  {
	width: 16px;
	height: 16px;
	background: url(../img/social-small.png) no-repeat;
	display: inline-block;
	margin: 5px 6px 0 0;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -30px 0;
}

.google-plus {
	background-position: -60px 0;
}

.vimeo {
	background-position: 0 0;
}

.youtube {
	background-position: -16px 0;
}

.flickr {
	background-position: -32px 0;
}

.instagram {
	background-position: -48px 0;
}


#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
    border-image-width: 40px;
}
.text-center{
    color: #1c4281;
}


