{% load static %}
<footer>
    <div class="container">
		<div id="footer">
			<div id="twitter">
            <a href="" data-toggle="modal" data-target="#privacy_policy_modal">
                Политика конфиденциальности
            </a>
            </div>
			<div id="sitemap">
				<h3>SITEMAP</h3>
				<div>
					<a href="/">Каталог товаров</a>
					<a href="/company">О компании</a>
					<a href="/about">Контакты</a>
					<a href="/ship">Оплата и доставка</a>
				</div>
			</div>
			<div id="social">
				<h3>SOCIAL NETWORKS</h3>
				<a href="http://twitter.com/" class="social-icon twitter"></a>
				<a href="http://facebook.com/" class="social-icon facebook"></a>
				<a href="http://plus.google.com/" class="social-icon google-plus"></a>
				<a href="http://vimeo.com/" class="social-icon-small vimeo"></a>
				<a href="http://youtube.com/" class="social-icon-small youtube"></a>
				<a href="http://flickr.com/" class="social-icon-small flickr"></a>
				<a href="http://instagram.com/" class="social-icon-small instagram"></a>
			</div>
			<div id="footer-logo">
                <a href="/"><img src="{% static 'img/medicine2.jpg' %}" width="220" height="70" ></a>
                <p><h3>Copyright &copy; 2017 Vlad Vyshkovsky.</h3></p>
			</div>
		</div>
    </div>
	</footer>